.venv

extras/cons/5yearsData
extras/cons/2024Data
extras/cons/kse100

work/1_data_extraction/whole-data
work/1_data_extraction/whole-data.zip

work/2_data_sheets_cleaning/kse-100-30-data
work/2_data_sheets_cleaning/kse-100-30-data.zip

